@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
body * {
   font-family: 'Syne', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
