/*Section 1*/

.planty_rencontrer_section1 {
    padding-bottom: 53px;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
}

.planty_rencontrer_section1_textes > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planty_rencontrer_section1_p {
    text-align: center;
    width: 670px;
    padding-top: 25px;
}

.planty_rencontrer_section1_img > figure {
    display: flex;
    justify-content: center;
}

.planty_rencontrer_section1_img > figure > img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin-top: 27px;
    margin-right: 946px;
    margin-bottom: -75px;
}

/*Section 2*/

.planty_rencontrer_section2 {
    margin-top: 62px;
}

.planty_rencontrer_section2_conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planty_rencontrer_section2_h3 {
    text-align: center;
}

.planty_rencontrer_section2_equipe {
    width: 938px;
    margin-top: 50px;
}

.planty_rencontrer_section2_colonnes_equipe {
    text-align: center;
}

.planty_rencontrer_section2_plante {
    margin-bottom: -6px;
}

.planty_rencontrer_section2_plante > div {
    display: flex;
    justify-content: center;
}

.planty_rencontrer_section2_plante > div > figure > img {
    object-fit: contain;
    width: 190px;
    height: 220px;
    margin-left: 1118px;
    margin-top: -165px;
    position: relative;
    z-index: -1;
}

.planty_rencontrer_section2_h4 {
    padding-top: 18px;
}

.planty_rencontrer_section2_p {
    padding-top: 9px;
}


/*Section 3*/

.planty_rencontrer_section3 {
    padding-top: 65px;
    padding-bottom: 44px;
    display:flex;
}

.planty_rencontrer_section3_h3 {
    text-align: center;
}

.planty_rencontrer_section3, .planty_rencontrer_formulaire {
    margin-bottom: 0px;
}

.planty_rencontrer_section3_plante {
    display: flex;
    justify-content: center;
}

.planty_rencontrer_section3_plante > img {
    margin-top: -197px;
    margin-right: 373px;
    object-fit: contain;
}


/*Formulaire*/

.planty_rencontrer_formulaire {
    padding-bottom: 71px;
}

.planty_rencontrer_formulaire > div > div {
    display: flex;
    justify-content: center;
}

.planty_rencontrer_formulaire > div > div > form > p > label > span > input, .planty_rencontrer_formulaire > div > div > form > p > label > span > textarea, .planty_commander_formulaire > div > p > label > span > input {
    border: none;
    border-radius: 7px;
    width: 383px;
    margin-top: 13px;
    margin-bottom: 22px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.planty_rencontrer_formulaire > div > div > form > p > label > span > input, .planty_commander_formulaire > div > p > label > span > input {
    height: 71px;
}

.planty_rencontrer_formulaire > div > div > form > p > label > span > textarea {
    height: 237px;
}

.planty_rencontrer_formulaire > div > div > form > p > .wpcf7-submit, .planty_commander_formulaire_bouton > p > .wpcf7-submit {
    color: white;
    font-family: 'Syne';
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    border: none;
    border-radius: 5px;
    width: 198px;
    height: 55px;
    background-color: #E0B9B4;
    padding: 0px;

}

.planty_rencontrer_formulaire > div > div > form > p > .wpcf7-submit {
    margin-left: 93px;
}

.planty_rencontrer_formulaire > div > div > form > p > .wpcf7-submit:hover, .planty_commander_formulaire_bouton > p > .wpcf7-submit:hover {
    background-color: #C02E44;
}